.title--profile {
    padding: 20px 0;
    border-bottom: 1px solid #ddd;

    h3,
    p {
        margin: 0;
    }
}

.profile__account {
    padding: 0 20px;

    .profile__account--content {
        padding: 20px 0;
    }

    .profile__account--info {
        padding: 0 20px;
    }

    .profile__account--img {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        img {
            width: 50%;
            object-fit: cover;
            border-radius: 50%;
        }
    }
}
